@mixin loopModifyClass($self, $group, $property) {
  @each $name, $val in $group {
    &#{$self}--#{$name} {
      #{$property}: #{$val};
    }
  }
}

@mixin ellipsisSingle() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


@mixin ellipsisMulti() {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}