@use "sass:math";
@use "./palette";

$font-family-default: "Pretendard", "Apple SD Gothic Neo", "Malgun Gothic",
  sans-serif;

$font-size-default: 14px;
$font-color-default: palette.$Gray90;

@function toRem($value) {
  @return math.div($value, $font-size-default) * 1rem;
}

$font-size-64: toRem(64px);
$font-size-48: toRem(48px);
$font-size-40: toRem(40px);
$font-size-32: toRem(32px);
$font-size-28: toRem(28px);
$font-size-24: toRem(24px);
$font-size-22: toRem(22px);
$font-size-20: toRem(20px);
$font-size-18: toRem(18px);
$font-size-16: toRem(16px);
$font-size-14: toRem($font-size-default);
$font-size-12: toRem(12px);
$font-size-11: toRem(11px);
