$White: #ffffff;
$Black: #000000;
$Transparent: transparent;

$Gray10: #f4f6f7;
$Gray20: #e8ebeb;
$Gray30: #daddde;
$Gray40: #c1c4c6;
$Gray50: #898d8f;
$Gray60: #6e7375;
$Gray70: #53575a;
$Gray80: #2f3133;
$Gray90: #1f2224;

$Blue10: #f0f5ff;
$Blue20: #d8e5ff;
$Blue30: #b4cdff;
$Blue40: #7ba5f8;
$Blue50: #437cf5;
$Blue60: #2163f2;
$Blue70: #0e46ca;
$Blue80: #0a3186;
$Blue90: #062156;
$Blue100: #021123;

$Green10: #ace3e0;
$Green20: #72d2cc;
$Green30: #1ebfb7;
$Green40: #00b0a6;
$Green50: #00a194;
$Green60: #009486;
$Green70: #008375;
$Green80: #007366;
$Green90: #005647;

$Point: #d7242c;
$PointBg: #ffe9ec;
$PointTxt: #bc141c;

$Danger: #F67056;
$DangerBg: #FFEAE6;
$DangerTxt: #DA563C;

$Warning: #FABA4B;
$WarningBg: #FFF1D6;
$WarningTxt: #C27D05;

$Success: #64CD80;
$SuccessBg: #E1F9E7;
$SuccessTxt: #2FA84F;

$Info:#3EADB9;
$InfoBg:#D2F4F8;
$InfoTxt:#1B93A0;

$Disabled: #DADDDE;
$DisabledBg: #F4F6F7;
$DisabledTxt: #898D8F;