@use "public/styles/abstracts/font";
@use "public/styles/abstracts/palette";
@use "public/styles/abstracts/mixins";

.typography {
  $self: #{&};
  vertical-align: baseline;
  font-family: "Pretendard", "Apple SD Gothic Neo", "Malgun Gothic", sans-serif;

  &#{$self}--D1 {
    font-size: font.$font-size-64;
    line-height: font.toRem(80px);
  }

  &#{$self}--D2 {
    font-size: font.$font-size-48;
    line-height: font.toRem(60px);
  }

  &#{$self}--H1 {
    font-size: font.$font-size-40;
    line-height: font.toRem(50px);
  }

  &#{$self}--H2 {
    font-size: font.$font-size-32;
    line-height: font.toRem(40px);
  }

  &#{$self}--H3 {
    font-size: font.$font-size-24;
    line-height: font.toRem(30px);
  }

  &#{$self}--H4 {
    font-size: font.$font-size-20;
    line-height: font.toRem(25px);
  }

  &#{$self}--H5 {
    font-size: font.$font-size-16;
    line-height: font.toRem(20px);
  }

  &#{$self}--B1 {
    font-size: font.$font-size-18;
    line-height: font.toRem(27px);
  }

  &#{$self}--B2 {
    font-size: font.$font-size-16;
    line-height: font.toRem(24px);
  }

  &#{$self}--B3 {
    font-size: font.$font-size-14;
    line-height: font.toRem(21px);
  }

  &#{$self}--B4 {
    font-size: font.$font-size-12;
    line-height: font.toRem(18px);
  }

  &#{$self}--underline {
    text-decoration: underline;
  }

  $font-weights: (
    "regular": 400,
    "semibold": 600,
    "bold": 700,
  );

  @each $weight, $weightSize in $font-weights {
    &#{$self}--#{$weight} {
      font-weight: $weightSize;
    }
  }

  @include mixins.colorClass($self);

  &#{$self}--is-ellipsis-1 {
    @include mixins.ellipsisSingle();
  }

  &#{$self}--is-ellipsis-2 {
    @include mixins.ellipsisMulti();
  }
}
